
@model MissingDataLineChartModel

<div id="chart"></div>
@section scripts{
    <script>
        const _seriesData = @Html.Raw(JsonConvert.SerializeObject(Model.Series));
        const _series = _seriesData.map(s => {
            return {
                name: s.Name,
                data: s.Datas
            };
        });
        const _labels =@JsonConvert.SerializeObject(Model.Labels) ;
        var options = {
            series: _series,
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                },
                animations: {
                    enabled: false
                }
            },
            stroke: {
                width: [5, 5, 4],
                curve: 'straight'
            },
            labels: _labels,
            title: {
                text: 'Missing data (null values)'
            },
            xaxis: {
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


    </script>
}