
@model GroupedStackedBarChartModel

@{
    ViewData["Title"] = "Grouped Stacked Bar Chart";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<div id="chart"></div>

@section scripts{
    <script>
        const seriesData = @Html.Raw(JsonConvert.SerializeObject(Model.Series));
        const _series = seriesData.map(s => {
            return {
                name: s.Name,
                group: s.Group,
                data : s.Datas
            };
        })
        var options = {
            series:_series,
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
            },
            stroke: {
                width: 1,
                colors: ['#fff']
            },
            dataLabels: {
                formatter: (val) => {
                    return val / 1000 + 'K'
                }
            },
            plotOptions: {
                bar: {
                    horizontal: true
                }
            },
            xaxis: {
                categories: [
                    'Online advertising',
                    'Sales Training',
                    'Print advertising',
                    'Catalogs',
                    'Meetings'
                ],
                labels: {
                    formatter: (val) => {
                        return val / 1000 + 'K'
                    }
                }
            },
            fill: {
                opacity: 1,
            },
            colors: ['#80c7fd', '#008FFB', '#80f1cb', '#00E396'],
            legend: {
                position: 'top',
                horizontalAlign: 'left'
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>
}